/* [Start] nav-bar styling  */
.nav-bar{
    height: 40px;
    background-color: #FBFBFC;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    position: fixed;
    z-index: 99;
    padding-left: 14px;
}
.nav-bar-items a{
    text-decoration: none;
    padding: 15px;
    color: black;
}
.nav-bar-items a:hover{
    color: black;
}
.nav-bar-items i{
    padding: 8px;
    color: black;
    cursor: pointer;
}
.nav-bar-items i:hover{
    color: black;
}
.nav-link-apple {
    width: 1.6rem;
    height: 4.4rem;
    background: url("../img/icon/apple.svg") center no-repeat;
    
  }
  
  .nav-link-search {
    width: 1.6rem;
    height: 4.4rem;
    background: url("../img/icon/search.svg") center no-repeat;
  }
  
  .nav-link-bag {
    width: 1.4rem;
    height: 4.4rem;
    background: url("../img/icon/bag.svg") center no-repeat;
  }
/* [End] nav-bar styling  */

/* [Start] nav-bar-info styling */
.nav-bar-info{
    color: white;
    background-color: #1d1d1f;
    height: 45px;
    margin: auto;
    width: 100vw;
    padding-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-top: 45px;
}
.nav-bar-info a {
    color: #2997ff;
    padding: 5px;
    text-decoration: none ;
}
/* [Start] nav-bar-info styling */